<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Project!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="proj-body">
        <header class="proj-header">

        <nav>
            <ul>
                <li><a href="{{ path('project') }}">Home</a></li>
                <li><a href="{{ path('about_proj') }}">About</a></li>
                <li><a href="{{ path('halsa') }}">Mål 3</a></li>
            </ul>
        </nav>

            <span class="proj-title">Hållbar utveckling - Globala mål</span>

        </header>
        {% block body %}{% endblock %}
    </body>
</html>
