{% extends "base.html.twig" %}

{% block title %}Player game{% endblock %}

{% block body %}

<h1>Bank</h1>

{{ include('flash.html.twig') }}

<h2>Banks hand:</h2>

{% for cardInHand in hand.getCards() %}
    {% set colorClass = (cardInHand.getColor() in ['Hearts', 'Diamonds']) ? 'red' : 'black' %}
    <span class="card {{ colorClass }}">
        [{{ cardInHand.getAsString() }}]
    </span>

    {% else %}
        <p>No cards in bank's hand.</p>
    {% endfor %}

    <p>Total value : {{ total }}</p>

<form action="{{ path('end_game') }}" method="get">
    <button type="submit">See the result</button>
</form>

<footer class="site-footer">
        <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
