{% extends "base.html.twig" %}

{% block title %}Game Doc{% endblock %}

{% block body %}
<h1>Game Doc</h1>

<h2>Doc</h2>

<p>text text</p>

<p>Spelets flödesschema:</p>

<a href="{{ asset('img/flödesschema.png') }}">
        <img src="{{ asset('img/flödesschema.png') }}" alt="">
</a>

<p>Här är pseudokod för hur spelets kan skapas:</p>

<a href="{{ asset('img/pseudokod1.png') }}">
        <img src="{{ asset('img/pseudokod1.png') }}" alt="">

<a href="{{ asset('img/pseudokod2.png') }}">
        <img src="{{ asset('img/pseudokod2.png') }}" alt="">
</a>

<p>Klasser:</p>
<p>De klasser som jag tänker kommer behövas implementeras är följande; Card som är klassen för själv kortet i sig.</p>
<p>Sedan hade en CardHandPlayer med spelarens korthand behövts och en CardHandBank för bankens hand. Även en DeckOfCards-klass för själva kortspelet; denna klassen innehåller då 52 kort.</p>
<p>En klass med kortens representation hade också behövts, CardGraphic, som blir en extension av Card-klassen.</p>

<footer class="site-footer">
        <p>&copy; A.S. Objektorienterade webbteknologier; MVC</p>
</footer>

{% endblock %}
