{% extends 'base.html.twig' %}

{% block title %}All books{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>All books</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.getId|e }}</td>
                    <td>{{ book.getTitel|e }}</td>
                    <td>{{ book.getIsbn|e }}</td>
                    <td>{{ book.getAuthor|e }}</td>
                    <td>
                        <a href="{{ path('book_by_id', { id: book.getId }) }}">See book</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
