<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/headerpic.jpg') }})">
            <span class="site-title">MVC</span>

        <nav>
            <ul>
                <li><a href="{{ path('presentation') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky</a></li>
                <li><a href="{{ path('pig_start') }}">Pig game</a></li>
                <li><a href="{{ path('pig_init_get') }}">Pig init</a></li>
            </ul>
        </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
